body {
  text-align: start;
  background-color: #282c34;
}

.type{
  color: yellow;
  padding: 30px;
}
.type-p{
  color: gray;
  padding-left: 30px;
  width: 80%;
}

.light{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 30px;
  right: 90px;
  height: 150px;
  width: 80px;
  border-radius: 20px;
  background-color: rgb(57, 56, 56);
  box-shadow: 2px 4px 10px 5px rgb(31, 31, 31);
}
.light span{
  border-radius: 50%;
  border: 1px solid black;
  height: 35px;
  width: 35px;
  /* background-color: rgba(0, 0, 0, 0.303); */
}
.light span:nth-child(1){
  background-color: red;
}
.light span:nth-child(2){
  background-color: yellow;
}
.light span:nth-child(3){
  background-color: green;
}